[defaults]
inventory = deploy/inventory/example/hosts.yml
roles_path = deploy/roles/applications:deploy/roles/monitoring:deploy/roles/operations:deploy/roles/platform:deploy/roles/system
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
timeout = 20

[ssh_connection]
pipelining = False
