global:
  scrape_interval: {{ prometheus_scrape_interval }}

scrape_configs:

  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

{% if node_exporter_enabled | bool %}
  - job_name: node_exporter
    static_configs:
      - targets:
          - "host.docker.internal:{{ prometheus_node_exporter_port }}"
{% endif %}

{% if cadvisor_enabled | bool %}
  - job_name: cadvisor
    static_configs:
      - targets:
          - "cadvisor:{{ prometheus_cadvisor_port }}"
{% endif %}
