global:
  scrape_interval: {{ prometheus_scrape_interval }}

scrape_configs:

  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: node_exporter
    static_configs:
      - targets:
          - "host.docker.internal:{{ node_exporter_port }}"

  - job_name: cadvisor
    static_configs:
      - targets:
          - "cadvisor:{{ cadvisor_port }}"