# Managed by Ansible
network:
  version: 2

{% if network_type == 'ethernet' %}
  ethernets:
    {{ network_interface }}:
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ network_address }}
      routes:
        - to: default
          via: {{ network_gateway }}
      nameservers:
        addresses:
{% for dns_server in network_dns_servers %}
          - {{ dns_server }}
{% endfor %}

{% elif network_type == 'wifi' %}
  wifis:
    {{ network_interface }}:
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ network_address }}
      routes:
        - to: default
          via: {{ network_gateway }}
      nameservers:
        addresses:
{% for dns_server in network_dns_servers %}
          - {{ dns_server }}
{% endfor %}
      access-points:
        "{{ network_wifi_ssid }}":
          auth:
            key-management: psk
            password: "{{ network_wifi_password }}"
{% endif %}